/*
colors:
50
#fef2f2
100
#fee2e2
200
#fecaca
300
#fca5a5
400
#f87171
500
#ef4444
600
#dc2626
700
#b91c1c
800
#991b1b
900
#7f1d1d
950
#450a0a

 */

img {
    width: 3rem;
}
li img {
    width: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
  "sidebar header      header      header"
  "sidebar projects    projects    announcements"
  "sidebar projects    projects    trending";

}

header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.projects {
    grid-area: projects;
}
.announcements {
    grid-area: announcements;
}
.trending {
    grid-area: trending;
    height: 100vh;
}
.container > * {
    border: 3px solid black;
}

