/*
colors:
50
#fef2f2
100
#fee2e2
200
#fecaca
300
#fca5a5
400
#f87171
500
#ef4444
600
#dc2626
700
#b91c1c
800
#991b1b
900
#7f1d1d
950
#450a0a

 */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1, h2, p, h3 {
    margin: 0;
}
ul, li {
    list-style-type: none;
    padding: 0;
}
img {
    height: 100%;
    object-fit: cover;
    width: 3rem;
}
li img {
    width: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 260px;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
  "sidebar header      header      header"
  "sidebar projects    projects    announcements"
  "sidebar projects    projects    trending";

}

header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
    display: flex;
    gap: 2rem;
    font-weight: bold;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
}
.sidebar .title, .sidebar li {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}
.sidebar ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.projects {
    grid-area: projects;
}
.announcements {
    grid-area: announcements;
}
.trending {
    grid-area: trending;
    height: 100vh;
}
.container > * {
    border: 3px solid black;
}

