/*
colors:
50
#fef2f2
100
#fee2e2
200
#fecaca
300
#fca5a5
400
#f87171
500
#ef4444
600
#dc2626
700
#b91c1c
800
#991b1b
900
#7f1d1d
950
#450a0a

 */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
}
h1, h2, p, h3 {
    margin: 0;
}
ul, li {
    list-style-type: none;
    padding: 0;
}
img {
    width: 3rem;
}
li img {
    width: 1.5rem;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns:  auto 1fr 260px;
    grid-template-rows:     auto 1fr 1fr;
    grid-template-areas:
  "sidebar header      header"
  "sidebar projects    announcements"
  "sidebar projects    trending";

}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
header .navigation-bar, header .navigation-bar > *, header .action-bar, header .action-bar > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > * {
    border: 1px solid red;
    /*display: flex;*/
}
.sidebar {
    grid-area: sidebar;
    display: flex;
    gap: 2rem;
    font-weight: bold;
    flex-direction: column;
    padding: 1rem;
}
.sidebar .title, .sidebar li {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}
.sidebar ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.projects {
    grid-area: projects;
}
.announcements {
    grid-area: announcements;
}
.trending {
    grid-area: trending;
}
.container > * {
    border: 3px solid black;
}

/*@media only screen and (max-width: 550px) {*/
/*    .container {*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;*/
/*        grid-template-areas:*/
/*      "nav"*/
/*      "sidebar"*/
/*      "main"*/
/*      "content1"*/
/*      "content2"*/
/*      "content3"*/
/*      "footer";*/
/*    }*/
/*}*/